@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  color: #111;
  border: green dashed 2px;
  font-weight: bold;
}

.hide {
  display: none;
}

.hovered {
  border: 3px solid #8ed7ed;
  border-radius: 20px;
  box-shadow: blueviolet 10px;
  opacity: 0.5;
  position: relative;
}

.hovered::before {
  content: "\1F8A9";
  top: 5px;
  left: -40px;
  position: absolute;
  height: 50px;
  width: 50px;
  color: #ff85e4;
  font-size: 2rem;
}

.hovered::after {
  content: "\1F8A8";
  top: 5px;
  right: -60px;
  position: absolute;
  height: 50px;
  width: 50px;
  color: #ff85e4;
  font-size: 2rem;
}
